### 1. 조건문
- 특정 조건에 따라서 코드를 실행하고자 할때 사용
- if, else, elif

In [1]:
if True:
    print("python")
print("done")

python
done

In [2]:
if False:
    print("python")
print("done")

done

In [3]:
# 조건부분 : bool 데이터 타입 이외의 데이터 타입이 오면 bool으로 형변환 되어 판단

In [4]:
# int : 0을 제외한 나머지 값은 True
bool(0), bool(1), bool(-1)

(False, True, True)

In [5]:
num = 0
if num:
    print("as")

In [6]:
num = 1
if num:
    print("as")

as

In [8]:
number = 7

if number % 2:
    print("홀수")

홀수

In [10]:
# float : 0.0을 제외한 나머지 실수는 True
# str : ""를 제외한 나머지 문자열은 True
# list, tuple, dict : [], (), {}를 제외한 나머지는 True

In [11]:
# 지갑에 돈이 10000원 이상 있으면 택시를 타고 그렇지 않으면 걸어서 집에 갑니다.

In [13]:
wallet = 2000
money = 10000
if wallet >= money:
    print('택시')
else:
    print("걸어서")

걸어서

In [14]:
# 지갑에 돈이 10000원 이상 있으면 택시를 타고 2000원 이상이 있으면 버스를 탑니다. 그렇지 않으면 걸어서 집에 갑니다.

In [17]:
money = 6000
if money >= 10000:
    print('택시')
elif money >=2000:
    print('버스')
else:
    print('걸어서')

버스

In [6]:
# 문제
# 계좌에 10000원이 들어 있습니다.
# 인출 금액을 입력 받습니다.
# 인출 금액이 계좌에 있는 금액보다 크면 인출이 불가능합니다. 출력
# 인출 금액이 계좌에 있는 금액보다 작으면 인출 되었습니다. 출력
# 마지막에 현재 계좌 잔액출력

In [3]:
account = 10000
withdraw = int(input("인출 금액을 입력 하시오. :"))
if withdraw <= account:
    print("{}원이 인출되었습니다.".format(withdraw))
    account -= withdraw
    print("잔액 {}".format(account))
else:
    print("인출 불가 / 현재 잔액 : {}".format(account))

인출 금액을 입력 하시오. : 120000

인출 불가 / 현재 잔액 : 10000

In [9]:
# string 데이터 타입의 format 함수
print("현재 잔액은 {}원 입니다. 인출금액은 {}원 입니다.".format(account, withdraw))
print("현재 잔액은 {data1}원 입니다. 인출금액은 {data2}원 입니다.".format(data1=account, data2=withdraw))

현재 잔액은 10000원 입니다. 인출금액은 120000원 입니다.
현재 잔액은 10000원 입니다. 인출금액은 120000원 입니다.

### 2. 삼항연산자
- 간단한 if, else 구문을 한줄의 코드로 표현할수 있는 방법
- (True) if (confition) else (False)

In [30]:
# data 변수에 0이면 "Zero" 출력, 아니면 "not zero" 출력
data = 1
if data:
    print("not zero")
else:
    print("zero")

not zero

In [32]:
data = 1
result = "not zero" if data else "zero"
result

'not zero'

### 2. 반복문
- 반복되는 코드를 실행할때 사용
- while, for, break, continue
- list comprehention

In [37]:
# while
data = 3
while data:
    print(data)
    data -= 1

3
2
1

In [38]:
# 학생이 국어:80점, 영어:90점, 수학:100점 while 문을 이용해서 총점과 평균을 출력
# 학생의 점수는 list, dict 표현

In [56]:
score = {"국어":80,
        "영어":90,
        "수학":100}
subject_list = list(score.keys())
total = 0
while score:
    total += score.pop(subject_list.pop())
    avg = total / 3
print(total, avg)

270 90.0

In [57]:
# 무한루프
# break : 반복문을 중단 시킬때 사용되는 예약어
result = 1
while result:
    if result >= 10:
        break
    result += 1
print(result)

10

### for
- iterable한 값을 하나씩 꺼내서 value에 대입시킨후 코드를 iterable 변수의 값 갯수 만큼 실행
```
for (variable> in <iterables>:
    <code>
```

In [62]:
# for : continue : 조건부분으로 올라가서 코드가 실행
ls = [0,1,2,3,4]
for data in ls:
    if data % 2: # data가 홀수가 되면 continue
        continue
    # data가 짝수이면 print를 실행
    print(data, end=" ")

0 2 4

In [63]:
# for를 이용하여 코드를 100번 실행
# range 함수
for i in range(100):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [67]:
# offset index 개념과 비슷하게 사용
list(range(5)), list(range(5, 10)), list(range(0, 10, 2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [0, 2, 4, 6, 8])

In [68]:
score = {"국어":80,
        "영어":90,
        "수학":100}

In [74]:
# for문에서 iterable 데이터가 tuple로 나오면 여러개의 변수로 받을수 있습니다.
for i,j in score.items():
    print(i,j)

국어 80
영어 90
수학 100
호박 10

In [72]:
score['호박'] = 10

In [73]:
scoreㅠ

{'국어': 80, '영어': 90, '수학': 100, '호박': 10}

In [76]:
# 구구단 출력 (가로 출력)
# 2*1 = 2 3*1=3 .... 9*1 = 9
# ...
# 2*9 = 18 3*9=27 ... 9 * 9 = 81

In [84]:
first = range(2,10)
second = range(1,10)
for i in second:
    for j in first:
        print("{}*{}={}".format(j, i, j*i), end="\t")
        if j == 9:
            print('')

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

### 3. List Comprehention
- 리스트 데이터를 만들어주는 방법
- for문 보다 빠르게 동작합니다.

In [85]:
# 각각 값에 제곱한 결과 출력
ls = [0, 1, 2, 3]
result = []
for data in ls:
    result.append(data**2)
result

[0, 1, 4, 9]

In [87]:
result = [data ** 2 for data in ls]
result

[0, 1, 4, 9]

In [90]:
result = [data ** 2 if data % 2 == 1 else data for data in ls]
result

[0, 1, 2, 9]

In [91]:
# 리스트 컴프리헨션을 써서 홀수와 짝수를 리스트로 출력해주는 코드
# 삼항연산 사용
ls = [0,1,2,3]
#result = ["짝수", "홀수", "짝수", "홀수"]

result = ["홀수" if data % 2 else "짝수" for data in ls]
result

['짝수', '홀수', '짝수', '홀수']

In [92]:
# 리스트 컴프리헨션 조건문
ls = range(10)
[data for data in ls if data % 2]

[1, 3, 5, 7, 9]

In [93]:
ls = [1, 2, 3]
dir(ls)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [94]:
[data for data in dir(ls) if '__' not in data]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [98]:
[func for func in dir(ls) if func[:2] != '__']

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [97]:
[func for func in dir(ls) if func[:2] != '__' and func[0] == 'c']

['clear', 'copy', 'count']

In [99]:
# for문과 list comprehention 성능 비교

In [108]:
%%timeit

ls = []
for num in range(1,10001):
    if num % 3 == 0:
        ls.append(num)
len(ls)

1.44 ms ± 317 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [110]:
%%timeit

ls = [num for num in range(1,10001) if num % 3 == 0]
len(ls)

922 µs ± 40.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)